name: Test Charts

on:
  pull_request:
    paths:
      - "charts/**"

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
        with:
          version: v3.10.3

      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.13'

      - name: Set up chart-testing
        uses: helm/chart-testing-action@6ec842c01de15ebb84c8627d2744a0c2f2755c9f # v2.8.0

      - name: Run chart-testing (lint)
        run: ct lint --config ct.yaml

      - name: Create KIND Cluster
        uses: helm/kind-action@92086f6be054225fa813e0a4b13787fc9088faab # v1.13.0

      - name: Install policy-controller
        run: |
          helm install policy-controller --atomic \
            --create-namespace --namespace artifact-attestations \
            oci://ghcr.io/sigstore/helm-charts/policy-controller \
            --version 0.10.5

      - name: Install trust-policies
        run: |
          helm install trust-policies charts/trust-policies \
            --set policy.enabled=true \
            --set policy.organization=github
